*~
*.blg
*.bbl
*-blx.bib
*.run.xml
*.aux
*.log
*.fls
*.dep
*.fdb_latexmk
*.out
*.toc
*.atfi
*.xmpi
*.xmpdata
auto/
build/
src/assignments/dg_quiz.tex
src/assignments/dg_quiz.pdf
src/assignments/ass*.tex
src/assignments/ass*.pdf
