body {
    line-height: 1.6;
    font-size: 18px;
}

.accordion-button {
    font-size: 20px !important;
}

.card {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.card-header {
    color: #ffff;
}

.defn .card-header {
    background-color: #0059b3;
}

.eg .card-header {
    background-color: #00802b;
}

.ex .card-header {
    background-color: #5c0099;
}

.lem .card-header {
    background-color: #800000;
}

.thm .card-header {
    background-color: #800000;
}

.pf .card-header {
    background-color: #800000;
}
