body {
    line-height: 1.6;
    font-size: 18px;
}

.accordion-button {
    font-size: 20px !important;
}

.card {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    margin-right: 0!important;
    margin-left: 0!important;
}

.card-header {
    color: #ffff;
}

.defn .card-header {
    background-color: #0059b3;
}

.defn h5.card-title::before {
    content: "Definition"
}

.eg .card-header {
    background-color: #00802b;
}

.eg h5.card-title::before {
    content: "Example"
}

.ex .card-header {
    background-color: #5c0099;
}

.ex h5.card-title::before {
    content: "Exercise"
}

.lem .card-header {
    background-color: #800000;
}

.lem h5.card-title::before {
    content: "Lemma"
}

.thm .card-header {
    background-color: #800000;
}

.thm h5.card-title::before {
    content: "Theorem"
}

.pf .card-header {
    background-color: #800000;
}

.pf h5.card-title::before {
    content: "Proof"
}

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
}

@media (max-width: 700px) {
    .MathJax {
	font-size: 0.8em;
    }
    .shrinkeq {
	font-size: 70%;
    }
}

